/* 
GLOBAL STYLES
*/
html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
}

body {
    font-family: "Red Hat Display", sans-serif;
    background-color: #f5f5f5;
    color: #333333;
    overflow: hidden;
    width: 100vw;
}

p {
    font-family: "Red Hat Display", sans-serif;
    font-size: 1em;
}

h2 {
    font-family: "Red Hat Display", sans-serif;
    color: #443DFF;
    font-size: 2.5rem;
}

.h2_black {
    color: #9794FF;
}

h3 {
    font-family: "Red Hat Display", sans-serif;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    color: #9794FF;
}



#error {
    background-color: #222222;
}

/*
NAVIGATION
*/

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 15vh;
    grid-area:
        "nav nav1";
}

.navlogo {
    align-self: center;
}

.navlogo a img {
    grid-area: nav;
    font-size: 1.5rem;
    margin-left: 1.5rem;
    width: 20%;
}

.nav1 {
    grid-area: nav1;
}

.nav1 a {
    font-size: 1.5rem;
}

.nav1 a:hover {
    transition: 0.5s;
    transition-timing-function: ease-in-out;
    text-decoration:underline;
    color: #443DFF;
}

.navul {
    justify-self: end;
    align-self: center;
}

#nav {
    position: relative;
    z-index: 900;
    width: 100vw;
    height: 15vh;
    background-color: #110E0E;
    box-shadow: 0 14px 14.9px 0 rgba(0, 0, 0, 0.25);
}


nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 2rem;
}

nav ul li a {
    text-decoration: none;
    color: #F5F5FF;
    font-size: 1rem;
    font-weight: 500;
}

#nav .container::after {
    content: "";
    bottom: -5px;
    position: absolute;
    height: 4px;
    width: 100%;
    left: 0;
    background-color: #443DFF;
    transition: 0.5s;
    transition-timing-function: ease-in-out;
    transform: scaleX(0);
}
#nav .container:hover::after {
    transform: scaleX(1);
}

/* 
HEADER 
*/
#error {
    z-index: 400;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    height: 100vh;
}

header {
    background-color: #222222;
    padding: 20px;
    height: 100vh;
}

.error-text {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    align-content: center;
    margin-top: -15vh;
}

header h1 {
    font-size: 6rem;
    font-family: Orbitron, sans-serif;
    background: #0B03A1;
    background: linear-gradient(141deg, rgba(11, 3, 161, 1) 0%, rgba(68, 61, 255, 1) 25%);
    color: transparent;
    background-clip: text;
}

header h2 {
    justify-self: center;
}

/* Standaard button styles zijn hier ineens meegegeven */
.button {
    display: flex;
    height: 1.5rem;
    width: 12.7rem;
    margin: 2rem;
    padding: 0.5rem 0.75rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;

    border-radius: 1.5rem;
    background: rgba(163, 164, 218, 0.30);
}

.button a {
    text-decoration: none;
    color: var(--Default-White, #FFF);
    font-family: "Exo 2";
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0.03125rem;
}

#error .button:hover {
    transition: 0.5s;
    background-color: #F5F5FF;
    box-shadow: 0rem 0rem 1rem #443DFF;
}

#error .button:hover svg path {
    fill: #443DFF;
}

.button:hover a {
    color: #443DFF;
}

.button svg {
    width: 24px;
    height: 24px;
}
